
.a4-portrait {
    background-image: url("./ecotree-assets/temple-header.png");
    background-size: 210mm 297mm !important;
    position: relative !important;
    margin-left:auto !important;
    margin-right:auto !important;
    width:210mm !important;
    height:297mm !important;

}

.a4-portrait-with-startdealer {
    background-image: url("./ecotree-assets/dp1.png");
    background-size: 210mm 297mm !important;
    position: relative !important;
    margin-left:auto !important;
    margin-right:auto !important;
    width:210mm !important;
    height:297mm !important;

}

.a4-portrait-with-condealer {
    font-family : 'RSU';
    background-image: url("./ecotree-assets/dp2.png");
    background-size: 210mm 297mm !important;
    position: relative !important;
    margin-left:auto !important;
    margin-right:auto !important;
    width:210mm !important;
    height:297mm !important;

}
