.text-error {
  font-size: 100px;
  margin-bottom: 0px;
}

.text-title {
  color: black !important
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-red {
  color: red;
}

.text-link {
  color: #0009ff;
}

.mt-2 {
  margin-top: 2px;
}

.mt-6 {
  margin-top: 6px;
}
