@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?44457883');
  src: url('../font/fontello.eot?44457883#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?44457883') format('woff2'),
       url('../font/fontello.woff?44457883') format('woff'),
       url('../font/fontello.ttf?44457883') format('truetype'),
       url('../font/fontello.svg?44457883#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?44457883#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-path-21560:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-gauge-1:before { content: '\e802'; } /* '' */
.icon-signal:before { content: '\e803'; } /* '' */
.icon-credit-card-1:before { content: '\e804'; } /* '' */
.icon-dashcompound-01:before { content: '\e805'; } /* '' */
.icon-007-wifi-3:before { content: '\e806'; } /* '' */
.icon-005-wifi-2:before { content: '\e807'; } /* '' */
.icon-006-high:before { content: '\e808'; } /* '' */
.icon-001-wifi:before { content: '\e809'; } /* '' */
.icon-009-wifi-4:before { content: '\e80a'; } /* '' */
.icon-cell-4-01:before { content: '\e80b'; } /* '' */
.icon-008-cell-1:before { content: '\e80c'; } /* '' */
.icon-010-wifi-5:before { content: '\e80d'; } /* '' */
.icon-water:before { content: '\e80e'; } /* '' */
.icon-droplet:before { content: '\e80f'; } /* '' */
.icon-road:before { content: '\e810'; } /* '' */
.icon-temperatire:before { content: '\e811'; } /* '' */
.icon-sports-car:before { content: '\e812'; } /* '' */
.icon-onetrack--icon-01:before { content: '\e813'; } /* '' */
.icon-onetrack--icon-02:before { content: '\e814'; } /* '' */
.icon-measure-tools-01:before { content: '\e815'; } /* '' */
.icon-routes-01:before { content: '\e816'; } /* '' */
.icon-credit-card-2:before { content: '\e817'; } /* '' */
.icon-coolant:before { content: '\e818'; } /* '' */
.icon-exhaust:before { content: '\e819'; } /* '' */
.icon-fuel:before { content: '\e81a'; } /* '' */
.icon-safety-belt:before { content: '\e81b'; } /* '' */
.icon-onetrack--icon-03:before { content: '\e81c'; } /* '' */
.icon-excel-01:before { content: '\e81d'; } /* '' */
.icon-new-icon-01:before { content: '\e81e'; } /* '' */
.icon-new-icon-02:before { content: '\e81f'; } /* '' */
.icon-new-icon-03:before { content: '\e820'; } /* '' */
.icon-racing:before { content: '\e821'; } /* '' */
.icon-font-size-increase-2-512-01:before { content: '\e822'; } /* '' */
.icon-doorsensorsvg:before { content: '\e823'; } /* '' */
.icon-audit:before { content: '\e824'; } /* '' */
.icon-axle:before { content: '\e825'; } /* '' */
.icon-group-10315:before { content: '\e826'; } /* '' */
.icon-group-10970:before { content: '\e827'; } /* '' */
.icon-group-10971:before { content: '\e828'; } /* '' */
.icon-path-21553:before { content: '\e829'; } /* '' */
.icon-path-21554:before { content: '\e82a'; } /* '' */
.icon-path-21555:before { content: '\e82b'; } /* '' */
.icon-path-21556:before { content: '\e82c'; } /* '' */
.icon-path-21557:before { content: '\e82d'; } /* '' */
.icon-path-21558:before { content: '\e82e'; } /* '' */
.icon-path-21559:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-concrete-01:before { content: '\e832'; } /* '' */
.icon-spin3:before { content: '\e833'; } /* '' */
.icon-group-10493:before { content: '\e836'; } /* '' */
.icon-expand:before { content: '\e83b'; } /* '' */
.icon-expand-arrows-alt:before { content: '\e83c'; } /* '' */
.icon-layer-group:before { content: '\e83d'; } /* '' */
.icon-location-arrow:before { content: '\e83e'; } /* '' */
.icon-map-marker-alt:before { content: '\e83f'; } /* '' */
.icon-road-1:before { content: '\e840'; } /* '' */
.icon-new-icon-04:before { content: '\e841'; } /* '' */
.icon-new-icon-05:before { content: '\e842'; } /* '' */
.icon-new-icon-06:before { content: '\e843'; } /* '' */
.icon-new-icon-07:before { content: '\e844'; } /* '' */
.icon-new-icon-08:before { content: '\e845'; } /* '' */
.icon-new-icon-09:before { content: '\e846'; } /* '' */
.icon-new-icon-12:before { content: '\e847'; } /* '' */
.icon-new-icon-13:before { content: '\e848'; } /* '' */
.icon-new-icon-14:before { content: '\e849'; } /* '' */
.icon-new-icon-10:before { content: '\e84a'; } /* '' */
.icon-new-icon-11:before { content: '\e84b'; } /* '' */
.icon-new-icon-16:before { content: '\e84c'; } /* '' */
.icon-new-icon-17:before { content: '\e84d'; } /* '' */
.icon-new-icon-15:before { content: '\e84e'; } /* '' */
.icon-new-icon-18:before { content: '\e84f'; } /* '' */
.icon-new-icon-19:before { content: '\e850'; } /* '' */
.icon-new-icon-20:before { content: '\e851'; } /* '' */
.icon-new-icon-21:before { content: '\e852'; } /* '' */
.icon-new-icon-23:before { content: '\e853'; } /* '' */
.icon-new-icon-22:before { content: '\e854'; } /* '' */
.icon-new-icon-24:before { content: '\e855'; } /* '' */
.icon-new-icon-25:before { content: '\e856'; } /* '' */
.icon-globe:before { content: '\e857'; } /* '' */
.icon-electronics:before { content: '\e858'; } /* '' */
.icon-onetrack--icon-1:before { content: '\e859'; } /* '' */
.icon-onetrack--icon-break:before { content: '\e85a'; } /* '' */
.icon-onetrack--icon-clutch:before { content: '\e85b'; } /* '' */
.icon-electronics-1:before { content: '\e85c'; } /* '' */
.icon-business:before { content: '\e85e'; } /* '' */
.icon-edit-tools:before { content: '\e860'; } /* '' */
.icon-edited:before { content: '\e861'; } /* '' */
.icon-device:before { content: '\e863'; } /* '' */
.icon-break:before { content: '\e864'; } /* '' */
.icon-1plusdashboard-01:before { content: '\e866'; } /* '' */
.icon-card-yesno-02:before { content: '\e867'; } /* '' */
.icon-card-yesno-01:before { content: '\e868'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-battery-4:before { content: '\f240'; } /* '' */
.icon-battery-3:before { content: '\f241'; } /* '' */
.icon-battery-2:before { content: '\f242'; } /* '' */
.icon-battery-1:before { content: '\f243'; } /* '' */
.icon-battery-0:before { content: '\f244'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */